{% extends 'base.html.twig' %}

{% block title %}Ajouter votre propre tricks{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        {% if editMode %}
        <h1 class="mb-3">Modification d'un tricks</h1>
        {% else %}
        <h1 class="mb-3">Création d'un tricks</h1>
        {% endif %}

        {{form_start(formArticle)}}

        {{form_row(formArticle.name)}}
        {{form_row(formArticle.description)}}

        {% if editMode %}
        {{form_row(formArticle.image, {'required' : false})}}
        {% endif %}

        {{form_row(formArticle.image)}}

        {% if editMode %}
        <div class="mb-5">
            <h4>Images</h4>
            <div class="d-flex">
                {% for image in article.image %}
                <div>
                    <img src="{{asset('/uploads' ~image.name)}}" alt="image" style="width: 150px; margin-right:10px;">
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Modifier l'article</button>

        {% else %}
        <button type="submit" class="btn btn-primary">Ajouter l'article</button>

        {% endif %}

        {{form_end(formArticle)}}
    </div>
</div>

{% endblock %}