{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}
<div class="row">
	{% for message in app.flashes('success') %}
	<div class="alert alert-success text-center">
		{{ message }}
	</div>
	{% endfor %}
</div>
<div class="mb-4">
	<img src="{{ asset('build/images/img_top.jpeg') }}" class="w-100" />
</div>
<div class="container">
	<div class="row" id="articleList">
		{% for article in listArticles %}
		<div class="col-12 col-md-3 mb-3" id="{{article.id}}">
			<div class="card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<a href="{{ path('trick_show', {id : article.id}) }}" class="card-title h5">
						{{article.name|capitalize}}
					</a>
					<div class="action">
						<a href="{{ path('trick_edit', {id : article.id}) }}">
							<i class="fas fa-pencil-alt"></i>
						</a>
						<a href="{{ path('trick_delete', {id : article.id}) }}" id="modal-delete">
							<i class="fas fa-trash-alt"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-12">
			<button type="button" id="loadMoreArticles" class="btn btn-primary">Voir plus de Tricks</button>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		let loadMoreClick = document.querySelector("#loadMoreArticles");
		let click = 0;

		loadMoreClick.addEventListener('click', function (e) {
			e.preventDefault;
			click++;
			let add = 4 * click;

			const url = "{{ path('load_more_articles') }}" + '/' + add;

			axios.get(url).then(function (response) {
				var data = response.data;

				const articleList = document.getElementById('articleList');
				articleList.insertAdjacentHTML('beforeend', data.html);

				if (data.articlesTotal - add - 4) {
					loadMoreClick.classList.add('none');
				}
			}).catch(function (error) {
				if (error.response.status === 403) {
					window.alert("Vous n'êtes pas autorisé à effectuer cette action !")
				} else if (error.response.status === 403) {
					window.alert("Cette page n'existe pas");
				} else {
					window.alert("Une erreur est survenue !");
				}
			})

		});
	});
</script>

{% endblock %}