{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}
<div class="row">
	{% for message in app.flashes('success') %}
	<div class="alert alert-success text-center">
		{{ message }}
	</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
	<div class="alert alert-error text-center">
		{{ message }}
	</div>
	{% endfor %}
</div>
<div class="mb-4">
	<img src="{{ asset('build/images/img_top.jpg') }}" class="w-100" />
</div>
<div class="container">
	<div class="row" id="articleList">

		{% for article in listArticles %}
		<div class="col-12 col-md-3 mb-3" id="{{article.id}}">
			<div class="card">
				{% if article.images|length > 0 %}
				<img src="{{asset('/uploads/' ~ article.images[0].name)}}" class="card-img-top" alt="image">
				{% endif %}
				<div class="card-body">
					<p class="card-title h5">{{article.name|capitalize}}</p>

					{% if app.user and (app.user.id == article.user.id or is_granted("ROLE_ADMIN")) %}
					<div class="action">
						<a href="{{ path('trick_edit', {id : article.id}) }}">
							<i class="fas fa-pencil-alt"></i>
						</a>
						<p data-bs-toggle="modal" data-bs-target="#modalDelete{{article.id}}">
							<i class=" fas fa-trash-alt"></i>
						</p>

						<!-- Modal -->
						<div class="modal fade" id="modalDelete{{article.id}}" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Êtes vous sur de vouloir supprimer l'article <strong>{{article.name}}</strong>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Non</button>
										<a href="{{ path('trick_delete', {id : article.id}) }}" type="button"
											class="btn btn-primary">Oui je suis sur</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="card-footer">
					<a href="{{ path('trick_show', {id : article.id}) }}" class="btn btn-primary">
						Voir plus
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-12">
			<button type="button" id="loadMoreArticles" class="btn btn-primary">Voir plus de Tricks</button>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		let loadMoreClick = document.querySelector("#loadMoreArticles");
		let click = 0;

		loadMoreClick.addEventListener('click', function (e) {
			e.preventDefault;
			click++;
			let add = 4 * click;

			const url = "{{ path('load_more_articles') }}" + '/' + add;

			axios.get(url).then(function (response) {
				var data = response.data;

				const articleList = document.getElementById('articleList');
				articleList.insertAdjacentHTML('beforeend', data.html);

				if (data.articlesTotal - add - 4) {
					loadMoreClick.classList.add('none');
				}
			}).catch(function (error) {
				if (error.response.status === 403) {
					window.alert("Vous n'êtes pas autorisé à effectuer cette action !")
				} else if (error.response.status === 403) {
					window.alert("Cette page n'existe pas");
				} else {
					window.alert("Une erreur est survenue !");
				}
			})

		});
	});


</script>

{% endblock %}