{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <div>
        <div class="img-top">
            {% if article.images|length > 0 %}
            <img src="{{asset('/uploads/' ~ article.images[0].name)}}" alt="image">
            {% endif %}

            <div class="rounded-5 title">
                <h1 class="display-5 fw-bold">{{article.name | capitalize}}</h1>
            </div>

            {% if app.user and (app.user.id == article.user.id or is_granted("ROLE_ADMIN")) %}
            <div class="action">
                <a href="{{ path('trick_edit', {id : article.id}) }}" class="me-3">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <p data-bs-toggle="modal" data-bs-target="#modalDelete{{article.id}}">
                    <i class=" fas fa-trash-alt"></i>
                </p>

                <!-- Modal -->
                <div class="modal fade" id="modalDelete{{article.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Êtes vous sur de vouloir supprimer l'article <strong>{{article.name}}</strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                <a href="{{ path('trick_delete', {id : article.id}) }}" type="button"
                                    class="btn btn-primary">Oui je suis sur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="item-list mb-3">
                {% for image in article.images %}
                <div>
                    <img src="{{asset('/uploads/' ~ image.name)}}" alt="image">
                </div>
                {% endfor %}
                {% for video in article.videos %}
                <div>
                    <iframe width="100%" height="250" src="{{ video.url }}" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </div>
                {% endfor %}
            </div>
            <p class="col-12 fs-4 mb-5">{{article.description | capitalize}}</p>
            <div class="col-12 mb-5 text-center">
                {% for category in article.categories %}
                <span class="badge bg-info">{{category.name}}</span>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if article.comments is not empty %}
    <div class="row" id="section-comment">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h4>Liste des commentaires</H4>
            {% for comment in pagination %}
            <div class="mb-5">
                <div class="d-flex align-items-center mb-2 info-user">
                    <div class="me-2">
                        <img src="{{asset('/uploads/' ~ comment.user.avatar)}}" alt="image">
                    </div>
                    <div class="d-flex flex-column">
                        <strong>{{comment.pseudo | capitalize}}</strong>
                        <small>{{comment.createdAt | date('d/m/Y')}}</small>
                    </div>
                </div>
                <hr>
                <div>{{comment.content}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h4>Pas de commentaires sur cette article</H4>
        </div>
    </div>
    {% endif %}


    {% if app.user %}
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h4>Ajouter un commentaire</H4>
            {{form_start(commentForm)}}
            <div class="form-floating mb-3">
                {{ form_widget(commentForm.pseudo, {'attr': {'placeholder' : 'Votre pseudo'}}) }}
                <label for="registration_form_email">Pseudo</label>
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(commentForm.content, {'attr': {'placeholder' : 'Votre message'}}) }}
                <label for="registration_form_email">Message</label>
            </div>
            <div class="mb-3">
                {{ form_widget(commentForm.rgpd) }}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer mon commentaire</button>
            {{form_end(commentForm)}}

        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <p>Pour pouvoir poster un commentaire vous devez vous connecter</p>
            <a href="{{path('app_login')}}">Se connecter</a>
            {% endif %}
        </div>
    </div>

    {% endblock %}